// @font-face {
//   font-family: 'Brandon-Medium';
//   src: url('webfont.eot'); /* IE9 Compat Modes */
//   src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
//        url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
//        url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
// }

@font-face {
  font-family: 'Brandon-Grotesque';
  src: url('../fonts/brandon_reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon-Grotesque';
  src: url('../fonts/brandon_med.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon-Grotesque';
  src: url('../fonts/brandon_bld.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}